<div class="row bottom-header">
    
    <div class="bottom-header-logo-divs col col-1">
        <div class="row logo-divs-row">
            <div class="logo-divs left-side col-md-6 col-sm-12">
                <div class="logo-of-div">
                    <img class="header-bottom-image" src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/shipping-icon.png?t=1586999592&_ga=2.125608003.894777603.1586748170-1335674609.1584404257" alt="">
                </div>
            </div>
            
            <div class="logo-divs right-side col-md-6 col-sm-12">
                <div class="logo-div-title"><h3>FREE SHIPPING</h3></div>
                <div class="logo-div-p"><p>On Orders Above $89</p></div>
            </div>
        </div>
    </div>
    
    <div class="bottom-header-logo-divs col col-2">
        <div class="row logo-divs-row">
            <div class="logo-divs left-side col-md-6 col-sm-12">
                <div class="logo-of-div">
                    <!--
                    <img class="header-bottom-image" src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/lowest-price-icon.png?t=1586999591&_ga=2.125608003.894777603.1586748170-1335674609.1584404257" alt="">
                    -->
                    <img class="header-bottom-image" src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/live-chat-support-04.png?t=1610070786&_ga=2.108447234.1046798637.1609720288-785699928.1595811284" alt="">
                </div>
            </div>
            
            <div class="logo-divs right-side col-md-6 col-sm-12">
                <div class="logo-div-title"><h3>LIVE CHAT</h3></div>
                <div class="logo-div-p"><p>Support</p></div>
            </div>
        </div>
    </div>
    
    <div class="bottom-header-logo-divs col col-3 d-none">
        <div class="row logo-divs-row">
            <div class="logo-divs left-side col-md-6 col-sm-12">
                <div class="logo-of-div">
                    <img class="header-bottom-image" src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/shipping-time-icon.png?t=1586999593&_ga=2.125608003.894777603.1586748170-1335674609.1584404257" alt="">
                </div>
            </div>
            
            <div class="logo-divs right-side col-md-6 col-sm-12">
                <div class="logo-div-title"><h3>SHIPPING WITHIN</h3></div>
                <div class="logo-div-p"><p>24 hours on Most Items</p></div>
            </div>
        </div>
    </div>
    
    <div class="bottom-header-logo-divs col col-4">
        <div class="row logo-divs-row">
            <div class="logo-divs left-side col-md-6 col-sm-12">
                <div class="logo-of-div">
                    <img class="header-bottom-image" src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/special-offers-icon.png?t=1586999593&_ga=2.125608003.894777603.1586748170-1335674609.1584404257" alt="">
                </div>
            </div>
            
            <div class="logo-divs right-side col-md-6 col-sm-12">
                <div class="logo-div-title"><h3>SPECIAL OFFERS</h3></div>
                <div class="logo-div-p"><p>Call Us Today</p></div>
            </div>
        </div>
    </div>
    
    <div class="bottom-header-logo-divs col col-5">
        <div class="row logo-divs-row">
            <div class="logo-divs left-side col-md-6 col-sm-12">
                <div class="logo-of-div">
                    <img class="header-bottom-image" src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/financing-i.png?t=1586999646&_ga=2.125608003.894777603.1586748170-1335674609.1584404257" alt="">
                </div>
            </div>
            
            <div class="logo-divs right-side col-md-6 col-sm-12">
                <div class="logo-div-title"><h3>FINANCE AVAILABLE</h3></div>
                <div class="logo-div-p"><p>No Papers Needed</p></div>
            </div>
        </div>
    </div>

</div>
