

<div class="footerVideBg">
    
    <h1 class="video-header">Videos</h1>
    
	<div class="parallaxbag-videoSection container">
        
        <div class="parallaxbag-videoSection-video">
            <h3>Promotion</h3>
            <iframe width="500" height="327px" src="https://www.youtube.com/embed/YtXESxpyIeE" frameborder="0" allowfullscreen=""></iframe>
        </div>
        
        <div class="parallaxbag-videoSection-video">
            <h3>Pride Mobility Scooters</h3>
            <iframe width="500" height="327px" src="https://www.youtube.com/embed/5t1E6ElM9mM" frameborder="0" allowfullscreen=""></iframe>
        </div>
                
	</div>
	
</div>

<div class="footer-repairs">
    
    <div class="info-repairs">
        <div>
        <p>Are you looking for scooter repairs?</p>
            <h3>Phone Us 1-888-584-3095</h3>
        </div>
        <div><a class="repair-buttom" href="https://wsrsolutions.com/">Visit Website</a></div>
    </div>
    
    <div class="repair-img">
    <img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/layer-24.png?t=1574735872&_ga=2.81868054.1219596991.1574644185-2022119561.1571639426"></div>

</div>

<div class="logo-footer">

    <img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/logos.png?t=1579048657&_ga=2.28592062.38678324.1578960961-2022119561.1571639426">


</div>
