    </div>
</div>
	
<div class="Why-buy-Section">
    
    <div class="parallaxbag-videoSection container">
        <div class="Why-buy-title">
            <h1>WHY BUY<br> FROM US?</h1>
            <div class="absolute-bottom">
                <p>See what our happy customers are saying<br> about our products and service.</p>
                <br>
                <div class="center-shop-now">
                    <a href="/mobility-scooters/" class="why-buy-button">SHOP NOW</a>
                </div>
            </div>
    	</div>
    	
    	<div class="why-buy-video">
    	    <iframe width="500" height="415" src="https://fast.wistia.com/embed/iframe/xdtqpkjhlq" loading="lazy" frameborder="0" allowfullscreen=""></iframe>
    	</div>
    </div>
</div>
