<!--<div class="shob-by-categ">-->
<!--    <h1>SHOP BY CATEGORY</h1>-->
    
<!--    <div class="row shop-categ">-->
    
<!--        <div class="col-lg-4 col-md-4 col-sm-4"><a href="/heavy-duty-scooters/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/01-heavyduty-scooter-img2.png?t=1613706655&_ga=2.108804994.1699551822.1613633045-785699928.1595811284"></a></div>-->
<!--        <div class="col-lg-4 col-md-4 col-sm-4"><a href="/hospital-beds/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/02-hospital-beds12.png?t=1613706656&_ga=2.108804994.1699551822.1613633045-785699928.1595811284"></a></div>-->
<!--        <div class="col-lg-4 col-md-4 col-sm-4"><a href="/mid-size-scooters/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/03-mid-size-scooters2.png?t=1613706657&_ga=2.108804994.1699551822.1613633045-785699928.1595811284"></a></div> -->
        
<!--    </div>-->
    
<!--    <div class="row shop-categ">-->
        
<!--        <div class="col-lg-4 col-md-4 col-sm-4"><a href="/portable-scooters/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/04-portable-scooters2.png?t=1613706659&_ga=2.108804994.1699551822.1613633045-785699928.1595811284"></a></div>-->
<!--        <div class="col-lg-4 col-md-4 col-sm-4"><a href="/scooter-accessories/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/05-accessories2.png?t=1613706660&_ga=2.108804994.1699551822.1613633045-785699928.1595811284"></a></div>-->
<!--        <div class="col-lg-4 col-md-4 col-sm-4"><a href="/open-box-special.html/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/06-special-offer2.png?t=1613706662&_ga=2.108804994.1699551822.1613633045-785699928.1595811284"></a></div>-->
    
<!--    </div>-->

<!--</div>-->
<div class="shob-by-categ">
    <h1>SHOP BY CATEGORY</h1>
    
    <div class="row shop-categ">
    
        
        <div class="col-lg-4 col-md-4 col-sm-4 px-2"><a href="/portable-scooters/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/01-heavyduty-scooter-img.png"></a></div>
        <div class="col-lg-4 col-md-4 col-sm-4 px-2"><a href="/mid-size-scooters/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/06-mid-size-scooters.png"></a></div>
        <div class="col-lg-4 col-md-4 col-sm-4 px-2"  ><a href="/heavy-duty-scooters/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/03-portable-scooters.png"></a></div>
       
    </div>
    
    <div class="row shop-categ">
        
         <div class="col-lg-4 col-md-4 col-sm-4 px-2"><a href="/hospital-beds/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/04-wheelchairs-42.png"></a></div>
        <div class="col-lg-4 col-md-4 col-sm-4 px-2"><a href="/scooter-accessories/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/05-massage-chairs.png"></a></div>
        <div class="col-lg-4 col-md-4 col-sm-4 px-2"><a href="/wheelchairs/"><img src="https://cdn11.bigcommerce.com/s-h7ti6c9310/stencil/0fbdd750-6e7a-0136-6996-71bd3cb7e197/e/435f9b30-2057-0137-158b-0242ac110019/img/loading.svg" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/02-hospital-beds.png"></a></div>
    
    </div>

</div>
