{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each banners.top}}
        {{#if (occurrences this 'emthemesModezBannersBlock') '===' 0}}
            <div class="banner">
                {{{this}}}
            </div>
        {{/if}}
    {{/each}}
</div>
{{/if}}

<header class="header header--{{theme_settings.header-style}}" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{#if template_file '===' 'pages/home'}}
    
    <h1 class="header-logo" id="mobile-header-logo" style="display: none;">
        <div class="row header-logos logo-navv">
            <div class="col-lg-4 col-md-4 col-sm-4 logo-nav">
                <a href="{{urls.home}}" id="header-logo-block-image">
                    {{#if settings.store_logo.image}}
                        <img class="header-logo-image" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                    {{else}}
                        <span class="header-logo-text">{{settings.store_logo.title}}</span>
                    {{/if}}
                </a>
                <div class="talk-live-header" id="mobile-header-num" >
                    <span>Call us: </span><a onclick="gtag_report_conversion()" href="tel:1800-997-3077">1-800-997-3077</a>
                    <span>for SPECIAL <br> OFFERS on Mobility Scooters!</span>
                </div>
            </div>
                
            <div class="col-lg-4 col-md-4 col-sm-4 tel-nav">
            
                <div class="talk-live-first-div">
                    <div class="talk-live-header">
                        <h3>Talk to a Live Mobility Expert</h3>
                        <a onclick="gtag_report_conversion()" href="tel:1800-997-3077">1-800-997-3077</a>
                    </div>
                   
                    <img src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/header-customer-support.png?t=1612501014&_ga=2.123681227.1154238132.1612494366-2022119561.1571639426">
                </div>
                
                <div class="customer-service-header">
                    <p><span class="sales-header-text">Sales:</span><a>8am - 9pm(Mon - Fri EST)</a></p>
                    <p>9am - 6pm(Sat - Sun EST)</p>
                   <p>9am - 5pm (Mon - Fri EST)</p>
                </div>
            
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4 search-nav">
                 
                <nav class="navUser navUser--left navUser--hasQuickSearch">
                {{> components/common/currency-selector}}
            
                <ul class="navUser-section navUser-section--alt">
                   
                    <li class="navUser-item">
                        <!--{{> components/emthemes-modez/search/quick-search-form css_class="navUser-action navUser-action--quickSearch"}}-->
                    </li>
                    
                    {{#if theme_settings.navPages-show-cart}}
                    <li class="navUser-item navUser-item--cart hide-desktop">
                        <a
                            class="navUser-action"
                            data-cart-preview
                            href="{{urls.cart}}">
                            <span class="navUser-item-icon navUser-item-cartIcon emthemesModez-icon-handbag"></span>
                            <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="navUser-item navUser-item--cart">
                        <a
                            class="navUser-action"
                            data-cart-preview
                            data-dropdown="cart-preview-dropdown"
                            data-options="align:right"
                            href="{{urls.cart}}">
                            <span class="navUser-item-icon navUser-item-cartIcon emthemesModez-icon-cart"></span>
                            <span class="navUser-item-cartLabel">Cart</span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
                        </a>
            
                        <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
                    </li>
                    {{/if}}
                </ul>
            
                {{> components/emthemes-modez/search/quick-search-dropdown}}
            </nav>
            
            </div>
            
        </div>
        
        <div class="navigation-sticky-search">
            <div class="{{#if css_class}}{{css_class}} {{/if}}visibleQuickSearch-form-container" data-search="quickSearch">
                <form class="form" action="{{urls.search}}">
                    <fieldset class="form-fieldset">
                        <div class="form-field">
                            <label class="is-srOnly" for="search_queryA">{{lang "search.quick_search.input_label"}}</label>
                            <input class="form-input form-input--small" data-search-quick name="search_query" id="search_queryA" data-error-message="{{lang 'search.error.empty_field'}}"
                                placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </h1>
     {{else}}

    <h1 class="header-logo" id="mobile-header-logo" style="display: none;">
            {{> components/common/custom-header-mobile-logo}}
        </h1>
    {{/if}}
            
    {{#if theme_settings.show_top_header}}
    <div class="emthemesModez-header-topSection ACE">
        <div class="container">
            <ul>

                <li>{{{lang 'emthemesmodez.header.top.text1'}}}</li>
                <li>{{{lang 'emthemesmodez.header.top.text2'}}}</li>
                <li>{{{lang 'emthemesmodez.header.top.text3'}}}</li>

                
            </ul>
        </div>
    </div>
    {{/if}}
 {{> components/common/custom-upper-header}}
  
    
    <div class="navPages-container" id="menu" data-menu {{#if theme_settings.header_sticky}}data-stickymenu{{/if}}>
        <div class="emthemesModez-header-userSection emthemesModez-header-userSection">
    
            {{#if template_file '===' 'pages/home'}}
    
            <h1 class="header-logo">
                    {{> components/common/custom-header-logo}}
                </h1>
             {{else}}
    
                <h1 class="header-logo">
                    {{> components/common/custom-header-logo}}
                </h1>
            {{/if}}
    
        </div>
        
        <div id="backgroundNav">
            <div class="mobile-logo-nav" style="display:none;">
                <a href="{{urls.home}}">
                    {{#if settings.store_logo.image}}
                        <img class="header-logo-image" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                    {{else}}
                        <span class="header-logo-text">{{settings.store_logo.title}}</span>
                    {{/if}}
                </a>
                
                <div class="navigation-sticky-search">
                    <div class="{{#if css_class}}{{css_class}} {{/if}}visibleQuickSearch-form-container" data-search="quickSearch">
                        <form class="form" action="{{urls.search}}">
                            <fieldset class="form-fieldset">
                                <div class="form-field">
                                    <label class="is-srOnly" for="search_query2">{{lang "search.quick_search.input_label"}}</label>
                                    <input class="form-input form-input--small" data-search-quick name="search_query" id="search_query2" data-error-message="{{lang 'search.error.empty_field'}}"
                                        placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="tel-nav">
                <div class="talk-live-first-div">
                    <div class="talk-live-header">
                        <h3>Talk to a Live Mobility Expert</h3>
                        <a href="tel:1800-997-3077">1-800-997-3077</a>
                    </div>
                   
                    <img src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/header-customer-support.png?t=1612501014&_ga=2.123681227.1154238132.1612494366-2022119561.1571639426">
                </div>
                
                <div class="customer-service-header">
                    <p><span class="sales-header-text">SALES:</span><a>8am - 9pm(Mon - Fri EST)</a></p>
                    <p>9am - 6pm(Sat - Sun EST)</p>
                   <p>9am - 5pm (Mon - Fri EST)</p>
                </div>
            </div>
            
            {{> components/common/navigation-menu}}
        </div>
    </div>
    <div class="navPages-container-overlay"></div>
    {{> components/common/custom-bottom-header}}
    
</header>


