<div class="navPage-subMenu navPage-subMenu--mega3" id="navPages-{{#if type '===' 'category'}}{{id}}{{else}}page-{{@index}}{{/if}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list" id="bordered-part">
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}} {{> components/emthemes-modez/common/navigation-label}}</a>
        </li>
        <li><h2 class="nav-title">SCOOTERS</h2></li>
        {{#each children}}
            <li class="navPage-subMenu-item">
                {{#if children}}
                    <a
                        class="navPage-subMenu-action navPages-action has-subMenu"
                        href="{{url}}"
                        data-collapsible="navPages-{{#if ../../type '===' 'category'}}{{id}}{{else}}page-{{@../index}}-{{@index}}{{/if}}"
                        data-collapsible-disabled-breakpoint="medium"
                        data-collapsible-disabled-state="open"
                        data-collapsible-enabled-state="closed">
                        {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                        {{> components/emthemes-modez/common/navigation-label}}
                    </a>
                    <ul class="navPage-childList" id="navPages-{{#if ../../type '===' 'category'}}{{id}}{{else}}page-{{@../index}}-{{@index}}{{/if}}">
                        {{#each children}}
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}} {{> components/emthemes-modez/common/navigation-label}}</a>
                        </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}} {{> components/emthemes-modez/common/navigation-label}}</a>
                {{/if}}
            </li>
        
             {{/each}}
            
                  
  
                
          
      
    </ul>
    <article>
        <h2 class="nav-title">BRANDS</h2>
    <ul class="navPage-subMenu-list column-half">
      
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/charge-mobility/">Charge Mobility</a>
        </li> 
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/drive-medical/">Drive Medical</a>
        </li> 
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/ev-rider/">EV Rider</a>
        </li> 
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/ewheels/">Ewheels</a>
        </li> 
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/free-rider/">Free Rider</a>
        </li> 
      
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/pride-mobility/">Pride Mobility</a>
        </li> 
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/progress-mobility/">Progress Mobility</a>
        </li> 
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/shoprider/">ShopRider</a>
        </li> 
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/smart-scoot/">Smart Scoot</a>
        </li> 
          <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/solax/">Solax</a>
        </li> 
         <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="/mobility-scooters/shop-by-brand/golden-technologies/">Golden Technologies</a>
        </li> 
            
    </ul>
     </article>
   
    
  <!--<div class="navPage-subMenu-banner-list">-->
  <!--      <div class="navPage-subMenu-banner-item"><a href="{{url}}"><img src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/navimg.jpg?t=1576044611&_ga=2.111256128.558730255.1575939122-2022119561.1571639426" alt="Parallax Bag"></a></div>-->
        
  <!--  </div>-->
</div>
