<div class="emthemesModez-section emthemesModez-section--parallaxbag-video" {{#if theme_settings.enable_parallax}}data-parallax="scroll" data-image-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/rectangle-27-o.jpg?t=1615457144"{{else}}style="background-image:url('https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/rectangle-27-o.jpg?t=1615457144')"{{/if}}>
<!--<div class="emthemesModez-section emthemesModez-section--parallaxbag-video" {{#if theme_settings.enable_parallax}}data-parallax="scroll" data-image-src="https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/rectangle-27.jpg?t=1574729145&_ga=2.78869524.1219596991.1574644185-2022119561.1571639426"{{else}}style="background-image:url('https://cdn11.bigcommerce.com/s-vz6unvhe9k/product_images/uploaded_images/rectangle-27.jpg?t=1574729145&_ga=2.78869524.1219596991.1574644185-2022119561.1571639426')"{{/if}}>-->
	<div class="parallaxbag-videoSection container">
        <div class="Why-buy-title">
            <h1>WHY BUY<br> FROM US?</h1>
            <p>See what our happy customers are saying<br> about our products and service.</p>
            <br>
            <div class="center-shop-now">
                <a class="why-buy-button">SHOW NOW</a>
            </div>

	</div>
		<div class="parallaxbag-videoSection-video"><iframe width="500" height="415" src="http://fast.wistia.net/embed/iframe/xdtqpkjhlq" loading="lazy" frameborder="0" allowfullscreen=""></iframe></div>
        
        
	</div>
</div>
